 #contact h3.subhead.subhead--light {
     color: black;
 }

 #contact .col-full {
    margin-top: 100px;
}

 .contact-body #HomeSideLinksList {
     background: none;
     background-color: white;
 }

 .contact-body #HomeSideLinksList span a {
     color: var(--theme-color-green);
 }