#services h1.display-1,
#services h2.display-1,
#services .service-item .service-icon,
#services .service-item .service-text p,
#services .service-item .service-text h3,
#services p.lead {
    text-align: center;
}
#services h1.display-1{	margin-top:10px;	font-size:7rem;}

#services h2.display-1 {
    font-size: 5rem;
    margin-top: 30px;
}


#services .service-item {
    padding-right: 35px;
}

#AndroidServices ul li,
#IOSServices ul li,
#DotNetServices ul li,
#WebDevelopmentServices ul li,
#QualityAssuranceServices ul li {
    list-style: none;
}

#AndroidServices ul li h3,
#IOSServices ul li h3,
#DotNetServices ul li h3,
#WebDevelopmentServices ul li h3,
#QualityAssuranceServices ul li h3 {
    margin-top: 3rem;
}


#services .services-list a:hover {
    color: unset;
}

#services .services-list a:hover>div {
    transform: translateY(-5px);
}

#services .cl-go-top {
    bottom: 1.8rem;
    position: fixed;
}

#IOSServicesHeading>i,
#AndroidServicesHeading>i,
#DotNetServicesHeading>i,
#WebDevelopmentServicesHeading>i,
#QualityAssuranceServicesHeading>i {
    color: var(--theme-color-light-green);
}